.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileTitle{
    display: flex;
    color: white;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;;
    border-bottom: 1px solid grey;
}
.profilemainTitle{
    color: white;
    font-size: 54px;
    margin-bottom: 1rem;
}

.profileImgContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;;
}
.profileImage{
    width: 90%;
    border-radius: 100%;
    margin-bottom: 1.5rem;
}

.profileContent{
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.profileInfo{
    margin: 0;
}

@media(min-width: 720px){
    .profileContent{
        flex-direction: row;
        margin: 5rem 0;


    }
    .introductionContent{
        width: 20%;
        margin-right: 10%;
    }
    .profileImgContainer{
        width:33%;
        margin: 0;
    }
    .datailContainer{
            width: 20%;
    margin-left: 10%;
    }
    .profileImage{
        border-radius: 0;
        margin: 0;
    }
}
